<!doctype html>
<html lang="hu">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{{ block "title" . }}{{ .Title }}{{ end }}</title>
    <link rel="stylesheet" href="{{ "css/main.css" | relURL }}">
    <link rel="stylesheet" href="{{ "fonts/SpartanMB/SpartanMB-Regular.css" | relURL }}">
    <link rel="stylesheet" href="{{ "fonts/Comfortaa/comfortaa.css" | relURL }}">
  </head>

  <body>
    <a class="skip-link" href="#main-content">Ugrás a tartalomra</a>

    {{ partial "header.html" . }}

    <main id="main-content">{{ block "main" . }}{{ end }}</main>

    {{ partial "footer.html" . }}
  </body>
</html>
